@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	/* font-size: 62.5%; */
}

body {
	/* font-family: 'DM Sans', sans-serif; */
	/* font-size: 1.6rem; */
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
} */

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.btn {
	@apply h-[3.125rem] py-[1.125rem] px-10 bg-[#3D00B7] flex items-center rounded-[3.75rem] text-white;
}

nav .nav-item {
	@apply font-medium text-base tracking-wider leading-5;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.container-fluid {
	max-width: 100%;
	margin: 0 auto;
}

.container-fluid {
	padding: 0 2rem;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

/* Header */
.header {
	background-color: #fff;
}

.header__logo {
	display: flex;
	align-items: center;
}

.header__logo img {
	width: 100px;
}

.header__logo h1 {
	font-size: 2.4rem;
	font-weight: 700;
	color: #000;
	margin-left: 1rem;
}

/* rotating elements */
@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.rotating-element {
	animation: rotate 6s linear infinite;
}
/* end rotating elements */

/* glassmorphism */
.glassmorphism {
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(25px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 10px;
}
/* end glassmorphism */
